[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pytest = "*"
flake8 = "*"
mypy = "*"

[packages]
flask = "*"
flask-sockets = "*"
gunicorn = "*"
logquicky = "*"
flask-cors = "*"
flask-socketio = "*"
flask-session = "*"
werkzeug = "==0.16.0"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true

[scripts]
lint = "flake8"
test = "pytest"
check-hints = "run mypy ."
develop = "python rainy-worms.py"
